<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Monster Slayer</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="styles.css" />
    <link rel="shortcut icon" href="./image/logo.png" type="image/x-icon">
  </head>
  <body>
    <header>
      <h1>Monster Slayer</h1>
    </header>

    <div id="app">
      <div class="nav p-2 d-flex justify-content-around align-items-center">
        <ul class="nav-bar list-unstyled">
          <li class="nav-para">Nhân vật</li>
          <li class="nav-para">Quái vật</li>
          <li class="nav-para">Độ khó</li>
          <li class="nav-para">Luật chơi</li>
        </ul>
      </div>
      <div class="vs">
        <img class="vs__img" src="./image/vs2.png" alt="" />
      </div>
      <div class="container">
        <div class="item" id="user">
          <p class="item__title text-uppercase">User</p>
          <div class="heart-wrap">
            <div :style="{width: userHeart + '%'}" class="heart"></div>
          </div>
          <div class="character">
            <img class="character__img" src="./image/user2.gif" alt="" />
          </div>
          <div class="skill-box" v-if="!isFighting">
            <img src="./image/skill1.png" class="skill-box__img" alt="skill1" @click="userAttack">
            <img src="./image/skill2.png" class="skill-box__img" alt="skill2">
            <img src="./image/YorickQ.png" class="skill-box__img" alt="skill3">
            <img src="./image/heal.png" class="skill-box__img" alt="skill4" @click="addHealth(), checkUserHeart()">
          </div>
        </div>
        <div class="item" id="monster">
          <p class="item__title text-uppercase">Monster</p>
          <div class="heart-wrap">
            <div :style="{width: monsterHeart + '%'}" class="heart"></div>
          </div>
          <div class="character">
            <img id="dragon" class="character__img" src="./image/dragon-icegif.gif" alt=""> 
          </div>
        </div>
      </div>
      <div class="notify">
        <p class="notify__para" v-if="countHealth == 2 ? true : false">Bạn đã hết quyền hồi máu!</p>
      </div>

      <!-- Quái vật -->
      <div class="box-monster">
        <div class="monster-title position-relative">
          <img src="./image/title.png" alt="" />
          <a href="#" class="position-absolute">Quay lại</a>
        </div>
        <div class="mons-box">
          <div class="mons-box__item col-3">
            <h4>MONSTER-1</h4>
            <img src="./image/dragon-icegif.gif" alt="user_2" />
          </div>
          <div class="mons-box__item col-3">
            <h4>MONSTER-2</h4>
            <img src="./image/dragon_2.gif" alt="user_2" />
          </div>
          <div class="mons-box__item col-3">
            <h4>MONSTER-3</h4>
            <img src="./image/dragon-3.gif" alt="user_2" />
          </div>
          <div class="mons-box__item col-3">
            <h4>MONSTER-4</h4>
            <img src="./image/dragon-4.gif" alt="user_2" />
          </div>
          <div class="mons-box__item col-3">
            <h4>MONSTER-5</h4>
            <img src="./image/dragon-5.gif" alt="user_2" />
          </div>
          <div class="mons-box__item col-3">
            <h4>MONSTER-6</h4>
            <img src="./image/dragon-6.gif" alt="user_2" />
          </div>
          <div class="mons-box__item col-3">
            <h4>MONSTER-7</h4>
            <img src="./image/dragon-7.gif" alt="user_2" />
          </div>
          <div class="mons-box__item col-3">
            <h4>MONSTER-8</h4>
            <img src="./image/dragon-8.gif" alt="user_2" />
          </div>
        </div>
      </div>
      <!-- <div class="controls">
        <button >Attack</button>
      </div> -->
      <!-- Popup -->
      <transition name="fade">
        <div class="popup" v-if="isShowPopup">
          <div class="popup__content">
            <h2 class="popup__title">
              Chào mừng các bạn đến với trò chơi đối kháng Monster Slayer!
              <span>Make by Nhóm 4 &#9829;</span>
            </h2>
            <button class="popup__btn" type="submit" @click="hidePopup()">Đóng</button>
          </div>
        </div>
      </transition>
      <!-- Nhân vật -->

      <!-- Nhân vật -->

      <!-- Quái vật -->

      <!-- Độ khó -->

      <!-- Độ khó -->

      <!-- Luật chơi -->

      <!-- Luật chơi -->
    </div>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="app.js"></script>
  </body>
</html>
